@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #001e59;
  --color-secondary: #ff48a0;
}

.fc-highlight {
  display: none;
}

/* 今日の日付のハイライトを削除する */
/* https://github.com/fullcalendar/fullcalendar/issues/7150 */
:root {
  --fc-today-bg-color: inherit;
}
